/* Conteneur principal */
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
}

/* Image à gauche */
.imageContainer {
    flex: 1;
    max-width: 50%;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 0;
}

/* Texte à droite */
.textContainer {
    flex: 1;
    text-align: left;
    
}

/* Image d'en-tête */
.headerImage {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url('/crossfit1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.headerText {
    font-size: 3rem;
    color: white;
}

/* Sous-titre */
.subtitle {
    font-size: 1rem;
    letter-spacing: 2px;
    color: #999;
    text-transform: uppercase;
}

/* Titre principal */
.title {
    font-size: 2.5rem;
    color: #0088cc;
    font-weight: bold;
    margin: 0.5rem 0;
}

/* Paragraphe */
.p {
    font-size: 1rem;
    color: #444;
    line-height: 1.6;
}
